
{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
	<h1 class="mb-5 mt-2">Listado mediciones</h1>
    
    <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#openModalCreate">Crear nueva medición</button>

    <button type="button" class="btn btn-primary mb-5" data-bs-toggle="modal" data-bs-target="#openModalSensor">Dar de alta sensor</button>

    <table id="measurements-table" class="w-100">
        <thead>
            <tr>
                <th>Año</th>
                <th>Variedad</th>
                <th>Tipo</th>
                <th>Color</th>
                <th>Temperatura</th>
                <th>Graduación</th>
                <th>pH</th>
                <th>Observaciones</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

    <div class="modal fade" id="openModalCreate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="openModalCreateLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="openModalCreateLabel">Crear nueva medición</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{{ path('app_add_measurement') }}" method="post">
                        <div class="mb-3">
                            <label for="year">Año:</label>
                            <input type="number" id="year" class="form-control" name="year" required />
                        </div>
                        <div class="mb-3">
                            <label for="variety">Variedad:</label>
                            <select class="form-select" aria-label="Default select" name="variety" required>
                                <option selected>Selecciona una variedad</option>
                                <option value="Merlot">Merlot</option>
                                <option value="Syrah">Syrah</option>
                                <option value="Chardonnay">Chardonnay</option>
                                <option value="Riesling">Riesling</option>
                                <option value="Albariño">Albariño</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="type">Tipo:</label>
                            <select class="form-select" aria-label="Default select" name="type" required>
                                <option selected>Selecciona un tipo</option>
                                <option value="Rosado">Rosado</option>
                                <option value="Orange">Orange</option>
                                <option value="Espumoso">Espumoso</option>
                                <option value="Dulce">Dulce</option>
                                <option value="Generoso">Generoso</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="color">Color:</label>
                            <input type="text" id="color" class="form-control" name="color" required />
                        </div>
                        <div class="mb-3">
                            <label for="temperature">Temperatura:</label>
                            <input type="number" step="0.1" id="temperature" class="form-control" name="temperature" required />
                        </div>
                        <div class="mb-3">
                            <label for="graduation">Graduación:</label>
                            <input type="number" step="0.1" id="graduation" class="form-control" name="graduation" required />
                        </div>
                        <div class="mb-3">
                            <label for="ph">pH:</label>
                            <input type="number" step="0.1" id="ph" class="form-control" name="ph" required />
                        </div>
                        <div class="mb-3">
                            <label for="observations">Observaciones:</label>
                            <textarea id="observations" class="form-control" name="observations"></textarea>
                        </div>
                        <div class="col-12 d-flex justify-content-end gap-2">
                            <button type="button" class="btn border" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn border btn-primary"><i class="fas fa-plus"></i> Crear</button>
                        </div>
                    </form>    
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="openModalSensor" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="openModalSensorLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="openModalSensorLabel">Dar alta sensor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <form action="#" method="post">
                        <div class="mb-3">
                            <label for="valor">Valor:</label>
                            <input type="number" id="valor" class="form-control" name="valor" required />
                        </div>
                        <div class="mb-3">
                            <label for="typeSensor">Tipo sensor:</label>
                            <select class="form-select" aria-label="Default select" id="typeSensor" name="typeSensor">
                                <option selected>Selecciona un tipo de sensor</option>
                                {% for type in typeSensor %}
                                    <option value="{{ type.id }}">{{ type.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 d-flex justify-content-end gap-2">
                            <button type="button" class="btn border" data-bs-dismiss="modal">Cancelar</button>
                            <button type="submit" class="btn border btn-primary"><i class="fas fa-plus"></i> Crear</button>
                        </div>
                    </form>     
                </div>
            </div>
        </div>
    </div>


</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
$(document).ready(function(){
    var url = "{{ path('app_get_measurement') }}";    
    fetch(url)
        .then(response => response.json())
        .then(data => {
            const tableBody = document.querySelector('#measurements-table tbody');
            tableBody.innerHTML = '';

            data.forEach(measurement => {
                const row = document.createElement('tr');
                row.innerHTML = `
                    <td>${measurement.year}</td>
                    <td>${measurement.variety}</td>
                    <td>${measurement.type}</td>
                    <td>${measurement.color}</td>
                    <td>${measurement.temperature}</td>
                    <td>${measurement.graduation}</td>
                    <td>${measurement.ph}</td>
                    <td>${measurement.observations}</td>
                `;
                tableBody.appendChild(row);
            });
        })
        .catch(error => console.error('Error fetching measurements:', error));
});
</script>
{% endblock %}